.nav-bar ul {
  background-color: #fff;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav-bar ul a {
  text-decoration: none;
}

.nav-bar ul li {
  color: black;
  transition: 0.2s;
  padding: 0.8rem;
}

.nav-bar ul li:hover {
  color: #fff;
  background-color: black;
}
